html,body,div,ul,li,input,button,select{
	padding: 0;
	margin: 0;
}
input,button{
	vertical-align: middle;
}
li{
	list-style: none;
}
body{
	width: 980px;
	margin:0 auto;
	background-color: #eee;
	font-size: 14px;
	font-family: Arial;
}
.section{
	height: 200px;
	background-color: #fff;
	margin-top: 20px;
	padding:20px;
}
input{
	border: 1px solid #ccc;
	background-color: #fff;
	font-size: 14px;
	height: 20px;
	width: 300px;
}
button{
	border:0;
	background-color: pink;
	width: 100px;
	height: 22px;
}
select{
	display: block;
}
.info{
	display: inline-block;
	height: 22px;
	color: pink;
	margin-left: 10px;
}
.input-box{
	position: relative;
	border: 1px solid #ccc;
	background-color: #fff;
	height: 20px;
	width: 300px;
}
.input-box input{
	border:0;
}
.about{
	position: absolute;
	width: 280px;
	top: 20px;
	left: -1px;
	border: 1px solid #ccc;
	display: none;
}
.about .active{
	background-color: pink;
	color: #fff;
}
/*.about li:hover{
	background-color: #ccc;
}*/
